:root {
  font-size: 12px;
}

.card {
  background-color: antiquewhite;
  padding: 2em 0;
}

.title {
  font-size: 2.5rem;
  font-style: bold;
}

.contador {
  margin: 1em 0;
  font-size: 1.5rem;
}

.botonera {
  margin: 1em 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  width: 7em;
  height: 3em;
  border: 0;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
}

.primary {
  background-color: lightseagreen;
}

.secondary {
  background-color: darkseagreen;
}